/* sticky-footer, materialize.css*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* format card height on get_recipes*/
.card.small {
    width: 450px;
}