<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<main id="main">
  
  <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <!--<h3>Call To Action</h3>-->
            <p></p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{url_for('get_category')}}">Edit Category</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

  <!-- ======= Category Display ======= -->
    <section id="category" class="category">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Current Categories</h2>
        </div>

        <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-5">
            <div class="info">
              {% for category in categories %}
              <div class="row">
                <h4>{{category.recipe_category}}</h4>
                <p>{{category.category_desc}}</p>
              </div>
              {% endfor %}
            </div>

          </div>

        <!-- ======= Add Category Form ======= -->
          <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

            <form action="{{ url_for('insert_category')}}" method="POST">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="recipe_category" class="form-control" id="recipe_category" placeholder="New Category" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="category_desc" class="form-control" id="category_desc" placeholder="Description"/>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-primary">Add Category</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Add Category Form -->
</main>

{% endblock %}