<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container"></div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Edit Recipe Form ======= -->
  <section id="addrecipe-form" class="addrecipe-form">
    <div class="container">
      <div class="row">
        <form
          class="col-lg-8"
          action="{{ url_for('update_recipe', recipe_id=recipe._id)}}"
          method="POST"
        >
          <!-- COOKIE NAME -->
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="input-field col-lg-8">
                  <input
                    id="cookie_name"
                    name="cookie_name"
                    type="text"
                    class="validate form-control"
                    value="{{recipe.cookie_name.capitalize()}}"
                  />
                  <label for="cookie_name">Cookie Name</label>
                </div>
              </div>

              <!-- CATEGORY -->
              <div class="row">
                <div class="input-field col-sm-8">
                <p>
                  {% for cat in categories %}
                  <label>
                    {% if cat.recipe_category in recipe.recipe_category %}
                    <input
                      class="with-gap"
                      name="category_name"
                      id="category"
                      type="radio"
                      value="{{recipe.recipe_category}}"
                      checked
                    />
                    {% else %}
                    <input
                      class="with-gap"
                      name="category_name"
                      id="category"
                      type="radio"
                      value="{{cat.recipe_category}}"
                    />
                    {% endif %}
                    <span>{{cat.recipe_category.capitalize()}}</span>
                  </label>
                  {% endfor %}
                </p>
              </div>
              </div>

              <!-- INGREDIENTS -->
              {% set qyt = recipe.qty %} {% set ingred = recipe.ingredients %}
              {% for index in range(qyt|length) %}
              <div class="row">
                <div class="input-field col-sm-4">
                  <textarea 
                    id="qty" 
                    name="qty" 
                    class="form-control"
                  >
                    {{qyt[index]}}</textarea
                  >
                </div>
                <div class="input-field col-sm-8">
                  <textarea
                    id="ingredient"
                    name="ingredient"
                    class="form-control"
                  >
                    {{ingred[index]}}</textarea
                  >
                </div>
              </div>
              {% endfor %}

              <!-- SUMMARY -->
              <div class="row">
                <div class="input-field col-lg-8">
                  <textarea
                    id="summary"
                    name="summary"
                    class="form-control"
                  >
                    Sales Pitch: {{recipe.summary}}</textarea
                  >
                </div>
              </div>

              <!-- STEPS -->
              <p>Steps</p>
              {% set instructions = recipe.steps %} {% for item in instructions
              %}
              <div class="row">
                <div class="input-field col-lg-8">
                  <textarea
                    id="steps"
                    name="steps"
                    class="form-control"
                  >
                    {{item}}</textarea
                  >
                </div>
              </div>
              {% endfor %}

              <!-- AUTHOR -->
              <div class="row">
                <div class="input-field col-sm-6">
                  <input
                    id="firstname"
                    name="firstname"
                    type="text"
                    class="validate form-control"
                    value="{{recipe.firstname}}"
                    required
                  />
                  <label for="firstname">First Name</label>
                </div>
                <div class="input-field col-sm-6">
                  <input
                    id="lastname"
                    name="lastname"
                    type="text"
                    class="validate form-control"
                    value="{{recipe.lastname}}"
                    required
                  />
                  <label for="lastname">Last Name</label>
                </div>
              </div>

              <!-- IMAGE -->
              <div class="row">
                <div class="file-field input-field col-lg-8">
                    <div class="btn">
                        <span>Upload Image</span>
                        <input type="file" />
                    </div>
                </div>
            </div>
                <div class="input-field col-sm-s4 thumbnail">
                  <img
                    width="50%"
                    src="../static/assets/img/cookies/{{recipe.image_source}}"
                    alt="{{recipe.image_source}}"
                  />
                </div>
                    <input
                      class="file-path validate"
                      name="{{recipe.image_source}}"
                      type="text"
                      value="{{recipe.image_source}}"
                    />
              </div>
              
          </div>
          <!-- UPDATE BUTTON -->
          <button type="submit" class="btn btn-primary">Update Recipe</button>
        </form><!-- End form -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
