<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{url_for('get_recipes')}}">Home</a></li>
          <li>Cookies</li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Recipe Section ======= -->
   
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">
     {% for recipe in recipes %}
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <!--<img src="{{ url_for('static', filename='assets/img/cookies/{{recipe.image_source}}') }}" alt="" class="img-fluid">-->
                <img src="../static/assets/img/cookies/{{recipe.image_source}}" alt="Photo for {{recipe.cookie_name}}" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{{url_for('get_cookie', cookie_name=recipe.cookie_name)}}">{{recipe.cookie_name}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                {% set recipe_author = recipe.firstname + ' ' + recipe.lastname %}
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">{{recipe_author}}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>{{recipe.summary}}</p>
                <div class="read-more">
                  <a href="{{url_for('get_cookie', cookie_name=recipe.cookie_name)}}">Full Recipe</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          {% endfor %}

        </div>
        

        <div class="blog-pagination" data-aos="fade-up">
          <ul class="justify-content-center">
            <li class="disabled"><i class="icofont-rounded-left"></i></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
          </ul>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

 {% endblock %}